[submodule "MetadataManagerCore"]
	path = MetadataManagerCore
	url = https://github.com/compix/MetadataManagerCore.git
[submodule "VisualScripting"]
	path = VisualScripting
	url = https://github.com/compix/NodeGraphQt
